.main {
  position: relative;
  top: 64px; /* 헤더 높이만큼 내려줌 */
  display: flex;
  min-height: calc(100vh - 64px);
  width: 100%;
  box-sizing: border-box;
}

.onboardingSection {
  position: relative;
  min-width: 950px;
  flex: 1 1 950px; /* basis=950px, 줄어들 수 있고(1), 커질 수도(1) */
  padding: 32px 0 64px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--n-0);
}

.progressIndicatorContainer {
  height: 80px;
  max-width: 454px;
  min-width: 343px;
  width: 100%;
}

.imageSection {
  position: relative;
  width: 50%;
  height: auto;
  overflow: hidden;
}

.imageWrapper {
  width: 100%;
  height: auto;
}

/* Responsive Styles */
@media (max-width: 950px) {
  .onboardingSection {
    min-width: 343px;
  }

  .imageSection {
    display: none;
  }
}

@media (max-width: 576px) {
  .onboardingSection {
    height: auto;
    padding: 16px;
  }
}
