.main {
  min-height: 100vh;
  padding-top: 64px; /* Header height */
  background-color: var(--n-100);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 1600px;
  padding: 24px 0;
  gap: 16px;
  margin: 0 auto;
  box-sizing: border-box;
}

.container h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: var(--text-primary);
}

.container p {
  font-size: 1.125rem;
  color: var(--text-secondary);
}

.jobSection {
  display: flex;
  gap: 20px;
  max-width: 1560px;
  flex-wrap: wrap;
  margin: 0 20px;
}

.sortContainerLoading {
  width: calc(100% - 40px);
  margin: 0 20px 16px 20px;
  height: 42px;
}


/* 아이템 한 줄 되는 너비 */
@media screen and (max-width: 824px) {
  .jobSection {
    max-width: 792px;
    width: calc(100% - 32px);
    flex-direction: column;
    gap: 10px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 4px 0 64px 0;
    gap: 8px;
  }
}

/* Skeleton loading styles */
.skeleton {
  background: linear-gradient(
    90deg,
    var(--n-200) 25%,
    var(--n-300) 50%,
    var(--n-200) 75%
  );
  background-size: 200% 100%;
  animation: loading 1.5s infinite;
  border-radius: 12px;
}

@keyframes loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.containerLoading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 1600px;
  padding: 24px 0;
  margin: 0 auto;
  box-sizing: border-box;
}

.jobSectionLoading {
  display: flex;
  gap: 20px;
  max-width: 1560px;
  flex-wrap: wrap;
  margin: 0 20px;
}

.resumeLoading {
  width: calc(100% - 40px);
  max-width: 1580px;
  height: 93px;
  margin: 0 20px 16px 20px;
}

.jobLoading {
  display: flex;
  gap: 24px;
  width: 375px;
  height: 218px;
  flex-wrap: wrap;
}

@media screen and (max-width: 824px) {
  .jobSectionLoading {
    max-width: 792px;
    width: calc(100% - 32px);
    gap: 10px;
  }

  .resumeLoading {
    width: calc(100% - 32px);
  }

  .jobLoading {
    width: 100%;
  }

  .sortContainerLoading {
    width: calc(100% - 32px);
  }
}

@media screen and (max-width: 768px) {
  .containerLoading {
    padding: 4px 0 64px 0;
    gap: 8px;
  }

  .jobSectionLoading {
    margin: 0 16px;
  }

  .resumeLoading {
    margin: 12px 16px 0;
    height: 62px;
  }

  .sortContainerLoading {
    height: 37px;
    margin: 0 16px 4px 16px;
  }
}