.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
}

.modal {
  background: white;
  border-radius: 16px;
  padding: 24px 24px 16px 24px;
  width: 356px;
  min-height: 176px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.modalTitle {
  font-size: 18px;
  font-weight: 700;
  font-style: Bold;
  color: var(--n-900);
  margin-bottom: 8px;
  text-align: center;
  line-height: 145%;
  letter-spacing: -0.02%;
}

.modalMessage {
  font-size: 16px;
  font-weight: 500;
  font-style: Medium;
  color: var(--n-700);
  text-align: center;
  line-height: 150%;
  margin-bottom: 24px;
  letter-spacing: 0.57%;
}

.modalButtons {
  width: 100%;
  height: 54px;
  display: flex;
  gap: 12px;
  justify-content: center;
}

.modalCancel,
.modalConfirm {
  padding: 12px 24px;
  border-radius: 8px;
  font-size: 17px;
  font-weight: 700;
  font-style: Bold;
  line-height: 141%;
  letter-spacing: 0%;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s;
  border: none;
  width: 148px;
  height: 100%;
}

.modalCancel {
  background-color: var(--n-200);
  color: var(--n-800);
}

.modalCancel:hover {
  background-color: var(--n-300);
}

.modalConfirm {
  background-color: var(--primaryjogak-1);
  color: white;
}

.modalConfirm:hover {
  background-color: var(--primarymain-800);
}
