.chip {
  align-items: center;
  border-radius: 6px;
  display: inline-flex;
  gap: 4px;
  height: 26px;
  justify-content: center;
  padding: 2px 8px;
  position: relative;
}

.default {
  background-color: var(--primarymain-200);
}

.dDay-apply {
  background: linear-gradient(
    135deg,
    rgba(52, 131, 250, 1) 0%,
    rgba(133, 181, 252, 1) 100%
  );
}

.dDay-anytime {
  background-color: #60c255;
}

.dDay-today {
  background-color: #ce494a;
}

.dDay-dayover {
  background-color: #c8d3df;
}

.dDay-withinWeek {
  background-color: #f57f7f;
}

.dDay-default .text {
  color: var(--primaryjogak-1);
}

.text {
  color: white;
  font-family: var(--label-1-normal-bold-font-family);
  font-size: var(--label-1-normal-bold-font-size);
  font-style: var(--label-1-normal-bold-font-style);
  font-weight: var(--label-1-normal-bold-font-weight);
  letter-spacing: var(--label-1-normal-bold-letter-spacing);
  line-height: var(--label-1-normal-bold-line-height);
  white-space: nowrap;
}
