.sortButton {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #ffffff;
  width: 104px;
  height: 42px;
  padding: 10px 8px;
  border-radius: 8px;
  border: 1px solid var(--n-300);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sortButton.open {
  border-radius: 8px 8px 0 0;
}

.sortButtonText {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: var(--n-800);
  font-family: var(--body-2-normal-medium-font-family);
  font-size: var(--body-2-normal-medium-font-size);
  font-style: var(--body-2-normal-medium-font-style);
  font-weight: var(--body-2-normal-medium-font-weight);
  letter-spacing: var(--body-2-normal-medium-letter-spacing);
  line-height: var(--body-2-normal-medium-font-line-height);
}

.dropdownIcon {
  transition: transform 0.3s ease;
}

.dropdownIcon.open {
  transform: rotate(180deg);
}

.sortDropdown {
  position: relative;
}

.dropdownMenu {
  right: 0;
  transform: translateY(-1px);
  border: none;
}

.sortSelect {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #ffffff;
  border-style: none;
  width: 104px;
  height: 34px;
  padding: 6px 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--n-700);
  font-family: var(--body-2-normal-medium-font-family);
  font-size: var(--body-2-normal-medium-font-size);
  font-style: var(--body-2-normal-medium-font-style);
  font-weight: var(--body-2-normal-medium-font-weight);
  letter-spacing: var(--body-2-normal-medium-letter-spacing);
  line-height: var(--body-2-normal-medium-font-line-height);
  border-left: 1px solid var(--n-300);
  border-right: 1px solid var(--n-300);
}

.sortSelect + .sortSelect {
  border-top: 1px solid var(--n-300);
}

.sortSelect:first-child {
  border-top: 1px solid var(--n-300);
}

.sortSelect:last-child {
  border-radius: 0 0 8px 8px;
  border-bottom: 1px solid var(--n-300);
  padding-bottom: 9px;
}

.sortSelect:hover {
  border-color: var(--n-400);
  background-color: var(--n-50);
}

.sortSelect:focus {
  outline: none;
}

@media (max-width: 768px) {
  .sortButton {
    width: 100px;
    height: 34px;
  }

  .sortButtonText {
    font-size: 13px;
  }

  .sortSelect {
    width: 100px;
    height: 34px;
    font-size: 13px;
  }
}
