.main {
  position: relative;
  box-sizing: border-box;
  top: 64px; /* 헤더 높이만큼 내려줌 */
  min-height: calc(100vh - 64px);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--n-100);
  padding-bottom: 60px;
}

.topBarWrapper {
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1560px;
  width: 100%;
  padding: 0 20px;
  height: 48px;
  margin-top: 16px;
  margin-bottom: 12px;
}

.topBar {
  width: 100%;
  height: 48px;
}

.content {
  max-width: 1560px;
  width: 100%;
  padding: 0 20px;
}

.jobDetailSummaryBar {
  height: 92px;
  margin-bottom: 17px;
}

.todoListSection {
  margin-top: 17px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(343px, 1fr));
  justify-items: center;
  gap: 20px;
}

.todoList {
  width: 100%;
  height: 300px;
}

@media screen and (max-width: 425px) {
  .todoListSection {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 12px;
  }

  .todoList {
    height: 200px;
  }
}
