.JobDetailTopBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  max-width: 1560px;
  width: 100%;
  height: 76px;
}

.leftSection {
  display: flex;
  align-items: center;
}

.backButton {
  height: 48px;
  width: 48px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
  background-color: transparent;
  border-radius: 16px;
}

.backButton:hover {
  background-color: var(--n-200);
}

.rightSection {
  position: relative;
  display: flex;
  align-items: center;
  gap: 16px;
}

.urlButton {
  background-color: var(--primarymain-200);
  border: 1px solid var(--primarymain-200);
  border-radius: 4px;
  height: 26px;
  padding: 2px 8px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

.urlButton:hover {
  background-color: var(--primarymain-300);
}

.urlButtonText {
  color: var(--primaryjogak-1);
  font-family: var(--label-1-reading-bold-font-family);
  font-size: var(--label-1-reading-bold-font-size);
  font-style: var(--label-1-reading-bold-font-style);
  font-weight: var(--label-1-reading-bold-font-weight);
  letter-spacing: var(--label-1-reading-bold-letter-spacing);
  line-height: var(--label-1-reading-bold-line-height);
  white-space: nowrap;
}

.iconGroup {
  display: flex;
  align-items: center;
  gap: 8px;
}

.iconButton {
  border-radius: 16px;
  height: 48px;
  width: 48px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
  background-color: transparent;
}

.iconButton:hover {
  background-color: var(--n-200);
}

.moreMenuWrapper {
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 8px;
  z-index: 1000;
}

/* Mobile responsive */
@media (max-width: 768px) {
  .rightSection {
    gap: 8px;
  }
}

@media (max-width: 547px) {
  .JobDetailTopBar {
    height: 48px;
  }
}
