.progressIndicator {
  position: relative;
  box-sizing: border-box;
  height: 80px;
  width: 160px;
  padding: 12px 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}

.progressList {
  all: unset;
  box-sizing: border-box;
  list-style: none;
  display: flex;
  gap: 10px;
}

.progressItem {
  position: relative;
  box-sizing: border-box;
  height: 24px;
  width: 24px;
  display: flex;
}

.progressItem::after {
  content: '';
  width: 10px;
  height: 2px;
  background: var(--n-300);
  display: block;
  flex-shrink: 0;
  align-self: center;
}

.progressItem:last-child::after {
  content: none;
}

.currentStepLabel {
  font-family: var(--label-1-normal-medium-font-family);
  font-size: var(--label-1-normal-medium-font-size);
  font-style: var(--label-1-normal-medium-font-style);
  font-weight: var(--label-1-normal-medium-font-weight);
  letter-spacing: var(--label-1-normal-medium-letter-spacing);
  line-height: var(--label-1-normal-medium-line-height);
  color: var(--n-800);
}
